#root{
  display: horizontal;
}

.main {
  max-width: 400px;
  margin: 200px auto;
  padding: 20px;
  
  border-radius: 10px;
  background-color: #c8c4c4;
  box-shadow: 20px 8px 16px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.main:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  margin-bottom: 15px;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 6px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #0008ff69;
}

input[type="submit"] {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19
:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

input[type="submit"]:hover {
  background-color: #4440b2;
}

input[type="text"].d1::after {
  border-color: #1abc9c; 
}

input[type="text"].d2 ::after {
  border-color: #e67e22;
}

input[type="text"].d3::after {
  border-color: #3498db;
}

input[type="password"] {
  border-color: #d9d8dd;
}
.hexagon {
  position: relative;
  width: 200px; 
  height: 50px; 
  background-color: #4c5a69f0; 
  margin: 20px auto;
  text-align: center;
  line-height: 45px;
  color: white;
  font-weight: bold;
  font-size: 24px; 
  clip-path: polygon(25% 0%, 75% 0%, 100%, 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexagon:before,
.hexagon:after {
  content: '';
  position: absolute;
  width: 60px; 
  height: 5px; 
  background-color: #1e1e18a5; 
  top: 50%;
  transform: translateY(-50%);
}

.hexagon:before {
  left: -80px; 
}

.hexagon:after {
  right: -80px; 
}
